.review-text::-webkit-scrollbar {
    width: 6px;
}


.review-text::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #d10000, #ff6b6b);
    border-radius: 10px;
}


.review-text::before,
.review-text::after {
    content: '"';
    font-size: 3rem;
    color: #d10000;
    opacity: 0.2;
    position: absolute;
    font-weight: bold;
    font-family: Georgia, serif;
}


.review-text::before {
    top: -25px;
    left: 0;
}


.review-text::after {
    bottom: -40px;
    right: 0;
}
